<form [formGroup]="form">
    <div class="col-12 md:col-6">
        <div class="card p-fluid">
            <h5>Edit Api Key</h5>
            <div class="field grid">
                <label htmlFor="description" class="col-12 mb-2 md:col-2 md:mb-0">Description</label>
                <div class="col-12 md:col-10">
                    <input pInputText id="description" formControlName="description" type="text" />
                </div>
            </div>
            <div class="field grid">
                <label htmlFor="secret" class="col-12 mb-2 md:col-2 md:mb-0">Secret</label>
                <div class="col-12 md:col-10">
                    <input pInputText id="secret" [disabled]="true" [placeholder]="form.controls.secret.value" type="text" />
                </div>
            </div>            
        </div>

        <div class="card mt-4">
            <div class="flex flex-wrap gap-2">
				<button pButton pRipple [disabled]="form.pristine || form.invalid" icon="pi pi-save" label="Save" (click)="save()"></button>
                <button pButton pRipple icon="pi pi-trash" label="Delete" severity="danger" [outlined]="true" (click)="deleteTestAccount($event)"></button>
			</div>
        </div>
    </div>
</form>